VITE_API_URL=https://api.tif.uin-suska.ac.id
VITE_API_BASE_PATH=/setoran-dev/v1
VITE_API_KEY=
VITE_KC_URL=https://id.tif.uin-suska.ac.id
VITE_KC_REALM=dev
VITE_KC_CLIENT_ID=setoran-mobile-dev
VITE_KC_CLIENT_SECRET=
